<form [formGroup]="voucherForm">
  <input type="hidden" formControlName="id">

  <div class="mb-3">
    <label class="form-label">Mã giảm giá</label>
    <input type="text" class="form-control" formControlName="maGiamGia">
  </div>

  <div class="mb-3">
    <label class="form-label">Giá trị</label>
    <input type="number" class="form-control" formControlName="giaTriGiam" step="0.01">
  </div>

  <div class="mb-3">
    <label class="form-label">Ngày bắt đầu</label>
    <input type="date" class="form-control" formControlName="ngayBatDau">
  </div>
  <div class="mb-3">
    <label class="form-label">Thời gian bắt đầu</label>
    <input type="time" class="form-control" formControlName="gioPhutBatDau">
  </div>
  
  <div class="mb-3">
    <label class="form-label">Ngày hết hạn</label>
    <input type="date" class="form-control" formControlName="ngayHetHan">
  </div>
  <div class="mb-3">
    <label class="form-label">Thời gian hết hạn</label>
    <input type="time" class="form-control" formControlName="gioPhutHetHan">
  </div>

  <div class="mb-3">
    <label class="form-label">Số lượng</label>
    <input type="number" class="form-control" formControlName="soLuong" min="1">
  </div>

  <div class="mb-3">
    <label class="form-label">Giá trị tối đa</label>
    <input type="number" class="form-control" formControlName="gia_tri_toi_da" step="0.01" min="0">
  </div>

  <div class="mb-3">
    <label class="form-label">Điều kiện áp dụng (giá trị đơn hàng tối thiểu)</label>
    <input type="number" class="form-control" formControlName="dieuKienapDung" min="0">
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Hủy</button>
    <button type="button" class="btn btn-primary" (click)="updateVoucher()">Lưu</button>
  </div>
</form>