<header class="header">
  <div class="logo">
    <img src="logo.webp" alt="Logo">
  </div>
  <nav class="navbar">
    <a routerLink="/">Trang Chủ</a>
    <a routerLink="/app-gioithieu">Giới thiệu</a>
    <!-- Thanh tìm kiếm chỉ hiển thị trên trang chủ -->
    <div class="search-box" *ngIf="isHomePage">
      <input
        type="text"
        [(ngModel)]="query"
        (ngModelChange)="onSearchChange($event)"
        placeholder="🔍 Tìm kiếm sản phẩm..."
        class="form-control">
    </div>
  </nav>
  <div class="header-actions">
    <a class="icon-link" (click)="toggleShoppingCart()">
      <i class="bi bi-cart"></i>
      <span class="cart-badge" *ngIf="cartItemCount > 0">{{ cartItemCount }}</span>
    </a>
    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
      <div class="user-dropdown" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
        <span class="username">Xin chào, {{ username }}</span>
        <div class="dropdown-menu" *ngIf="isDropdownOpen">
          <a class="dropdown-item" routerLink="/app-order-id">Đơn Hàng</a>
          <a class="dropdown-item" (click)="openChangePasswordModal()">Đổi Mật Khẩu</a>
          <a class="dropdown-item" routerLink="/account-info">Cập nhật thông tin</a>
          <a class="dropdown-item" (click)="logout()">Đăng Xuất</a>
          <a class="dropdown-item" routerLink="/app-tra-hang-user">Trạng thái Trả hàng</a>
        </div>
      </div>
    </ng-container>
    <ng-template #notLoggedIn>
      <button class="login-btn" (click)="goToLogin()">Đăng Nhập</button>
    </ng-template>
  </div>
</header>

<!-- Popup giỏ hàng -->
<div *ngIf="isShoppingCartOpen" class="shopping-cart-popup">
  <div class="shopping-cart-container">
    <span class="close-btn" (click)="closeShoppingCart()"><i class="bi bi-x-lg"></i></span>
    <app-shopping-cart></app-shopping-cart>
  </div>
</div>