<header class="header">
    <div class="logo">
        <h1><img src="logo.webp" alt="Logo"></h1>
    </div>
    <nav class="navbar">
        <a routerLink="/">Trang chủ</a>
        <a routerLink="/product">Sản phẩm</a>
        <a routerLink="/contact">Liên hệ</a>
    </nav>
   
    <div class="header-icons">
        <!-- Icon tìm kiếm -->
        
        <!-- Icon giỏ hàng -->
        <a class="icon-link" (click)="toggleShoppingCart()">
            <i class="bi bi-cart"></i>
        </a>

        <ng-container>
            <ng-container *ngIf="isLoggedIn; else notLoggedIn">
                <span class="username">Xin chào, {{ username }}</span>
                <button class="logout-btn" (click)="logout()">Đăng xuất</button>
            </ng-container>
        </ng-container>

        <ng-template #notLoggedIn>
            <button class="login-btn" (click)="goToLogin()">Đăng nhập</button>
        </ng-template>
    </div>
</header>

<!-- Popup giỏ hàng -->
<div *ngIf="isShoppingCartOpen" class="shopping-cart-popup">
    <div class="shopping-cart-container">
        <span class="close-btn" (click)="closeShoppingCart()">&times;</span>
        <app-shopping-cart></app-shopping-cart> <!-- Load component giỏ hàng -->
    </div>
</div>
