<div class="order-container">
  <h2>Danh sách đơn hàng</h2>
  <div *ngFor="let order of orders" class="order">
    <h3>Mã đơn hàng: {{ order.idTaiKhoan }}</h3>
    <p>Ngày tạo: {{ order.ngayTao | date: 'shortDate' }}</p>
    <p>Trạng thái đơn hàng: {{ order.statusLabel }}</p>
    <p>Phương thức thanh toán: {{ order.phuongThucThanhToan }}</p>
    <p>Tổng tiền: {{ order.phiVanChuyen }}</p>
    <p>Tổng tiền: {{ order.tongTien | currency }}</p>

    <table class="product-details">
      <thead>
        <tr>
          <th>Sản phẩm</th>
          <th>Ảnh</th>
          <th>Giá</th>
          <th>Số lượng</th>
          <th>Thành tiền</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of order.chiTietDonHangs">
          <td>{{ item.spctId }}</td>
          <td><img [src]="item.imageURL[0]" alt="product image" class="product-image" /></td>
          <td>{{ item.donGia | currency }}</td>
          <td>{{ item.quantity }}</td>
          <td>{{ item.thanhTien | currency }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
