<div class="order-container">
    <h2>Danh sách đơn hàng</h2>
    <div *ngFor="let order of orders" class="order">
      <h3>Mã đơn hàng: {{ order.idTaiKhoan }}</h3>
      <p>Ngày tạo: {{ order.ngayTao }}</p>
      <p>Trạng thái đơn hàng : {{ order.trangThai }}</p>
      <p>Phương thức thanh toán: {{ order.phuongThucThanhToan }}</p>
      <p>Tổng tiền: {{ order.tongTien | currency }}</p>
      
      <div *ngFor="let item of order.chiTietDonHangs">
        <h4>Sản phẩm: {{ item.spctId }}</h4>
        <img *ngFor="let image of item.imageURL" [src]="image" alt="product image" class="product-image" />
        <p>Giá: {{ item.donGia | currency }}</p>
        <p>Số lượng: {{ item.quantity }}</p>
        <p>Thành tiền: {{ item.thanhTien | currency }}</p>
      </div>
    </div>
  </div>
  