.order-success-container {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .btn {
    margin-right: 10px;
  }
  