<div class="chat-container" *ngIf="isChatOpen">
  <div class="chat-header">
    <span>Chat với chúng tôi</span>
    <button (click)="closeChat()" class="close-button">✖</button>
  </div>
  <div class="chat-body">
    <div *ngIf="isLoading" class="loading">Đang tải...</div>
    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    <div #chatMessages class="chat-messages">
      <div *ngFor="let message of messages; let isLast = last" [ngClass]="{'message': true, 'sent': message.senderId === userId, 'received': message.senderId !== userId, 'option': message.isOption, 'last-message': isLast}">
        <div *ngIf="message.isOption && !isChattingWithAdmin" class="option" (click)="selectOption(message.content)">
          {{ message.content }}
        </div>
        <div *ngIf="!message.isOption" class="message-content">
          <!-- <span class="sender-name">{{ message.sender?.tenDangNhap }}</span> -->
          <span class="message-text" [innerHTML]="message.content | safeHtml"></span>
          <span class="timestamp">{{ message.timestamp | date:'short' }}</span>
        </div>
        <div *ngIf="isAskingDetails(message)" class="admin-option">
          <button (click)="switchToAdmin()">Nói chuyện với admin</button>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-footer">
    <input type="text" [(ngModel)]="newMessage" (keyup.enter)="sendMessage()" placeholder="Nhập tin nhắn..." [disabled]="isSending" />
    <button (click)="sendMessage()" [disabled]="isSending || !newMessage">Gửi</button>
  </div>
</div>