<!-- shopping-cart.component.html -->
<div class="cart-container">
    <h2>Giỏ hàng của bạn</h2>
    <table>
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all" onclick="selectAll(this)"></th>
                <th>Ảnh</th>
                <th>Sản phẩm</th>
                <th>Giá</th>
                <th>Số lượng</th>
                <th>Xóa</th>
                <th>Thành tiền</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of cartItems; trackBy: trackByProduct">
              <td><input type="checkbox"></td>
              <td class="product-info">
                <!-- Kiểm tra lại item.product.imageURL có phải là đường dẫn hợp lệ và item.product có tồn tại -->
                <img [src]="item.product.imageURL" alt="">
              </td>
              <!-- Đảm bảo rằng các thuộc tính productName, price của product được truy cập đúng -->
              <td>{{ item.product.tenSanPham }}</td>
              <td>{{ item.product?.donGia | currency:'VND' }}</td>
              <td>
                <input type="number" class="quantity-input" [(ngModel)]="item.quantity" min="1">
              </td>
              <td>
                <!-- Kiểm tra điều kiện xóa sản phẩm dựa trên id sản phẩm -->
                <button class="remove-btn" *ngIf="item.product && item.product.idSanPham !== undefined" (click)="removeItem(item.product.idSanPham)">Xóa</button>
              </td>
              <!-- Tính toán tổng giá tiền dựa trên số lượng và giá sản phẩm -->
              <td>{{ item.quantity * item.product.donGia | currency:'VND' }}</td>
            </tr>
          </tbody>
          
        
    </table>
    <div class="total-container">
        <div class="select-all">
            <input type="checkbox" id="select-all-bottom" onclick="selectAll(this)">
            <label for="select-all-bottom">Chọn tất cả ({{ cartItems.length }})</label>
        </div>
        <div class="total-info">
            <span><strong>Tổng tiền: {{ getTotal() | currency:'VND' }}</strong></span>
            <button class="btn-order">Đặt hàng</button>
        </div>
    </div>
</div>