<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="profile" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
      <img src="logo.webp" alt="Profile Picture">
      <p>ID: {{userID}} | Tên: {{tenDangNhap?.sub}}</p>
      <div class="dropdown" *ngIf="isDropdownVisible">
        <a class="dropdown-item" (click)="openUpdateInfo()">Thông tin tài khoản</a>
        <a class="dropdown-item" (click)="openChangePasswordModal()">Đổi mật khẩu</a>
        <a class="dropdown-item logout" (click)="logout()">Đăng xuất</a>
      </div>
    </div>
    <nav class="menu">
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedComponent === 'bho'}" (click)="showComponent('bho')">
          <i class="bi bi-house"></i> Bán hàng tại quầy
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedComponent === 'dashboard'}" (click)="showComponent('dashboard')">
          <i class="bi bi-clipboard-data"></i> Thống kê
        </a>
      </li>
      <li class="nav-item" *ngIf="userRole !== 'STAFF'">
        <a class="nav-link" [ngClass]="{'active': selectedComponent === 'voucher'}" (click)="showComponent('voucher')">
          <i class="bi bi-gift"></i>Ưu đãi
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedComponent === 'invoice'}" (click)="showComponent('invoice')">
          <i class="bi bi-receipt"></i> Đơn hàng
        </a>
      </li>
      <li class="nav-item" *ngIf="userRole !== 'STAFF'">
        <a class="nav-link" [ngClass]="{'active': selectedComponent === 'products'}"  (click)="toggleSubMenu('products')">
          <i class="bi bi-bag"></i> Sản phẩm
          <i class="bi bi-chevron-up ms-auto" *ngIf="isSubMenuOpen['products'] && userRole !== 'STAFF'"></i>
        </a>
        <ul class="sub-menu" *ngIf="isSubMenuOpen['products'] && userRole !== 'STAFF'">
          <li class="nav-item sub-item">
            <a class="nav-link" [ngClass]="{'active': selectedComponent === 'brand'}" (click)="showComponent('brand')">
              <i class="bi bi-building"></i> Quản lý thương hiệu
            </a>
          </li>
          <li class="nav-item sub-item">
            <a class="nav-link" [ngClass]="{'active': selectedComponent === 'fragranceGroup'}" (click)="showComponent('fragranceGroup')">
              <i class="bi bi-flower2"></i> Quản lý nhóm hương
            </a>
          </li>
          <li class="nav-item sub-item">
            <a class="nav-link" [ngClass]="{'active': selectedComponent === 'style'}" (click)="showComponent('style')">
              <i class="bi bi-palette"></i> Quản lý phong cách
            </a>
          </li>
          <li class="nav-item sub-item">
            <a class="nav-link" [ngClass]="{'active': selectedComponent === 'fragrance'}" (click)="showComponent('fragrance')">
              <i class="bi bi-flower1"></i> Quản lý mùi hương
            </a>
          </li>
          <li class="nav-item sub-item">
            <a class="nav-link" [ngClass]="{'active': selectedComponent === 'note'}" (click)="showComponent('note')">
              <i class="bi bi-music-note"></i> Quản lý nốt hương
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item" *ngIf="userRole !== 'STAFF'">
        <a class="nav-link" [ngClass]="{'active': selectedComponent === 'staff'}" (click)="showComponent('staff')">
          <i class="bi bi-person"></i> Nhân viên
        </a>
      </li>
      <li class="nav-item" *ngIf="userRole !== 'STAFF'">
        <a class="nav-link"  [ngClass]="{'active': selectedComponent === 'customer'}" (click)="showComponent('customer')">
          <i class="bi bi-people"></i> Khách hàng
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedComponent === 'admintrahang'}" (click)="showComponent('admintrahang')">
          <i class="bi bi-arrow-return-left"></i> Yêu cầu trả hàng
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [ngClass]="{'active': selectedComponent === 'chat'}" (click)="showComponent('chat')">
          <i class="bi bi-chat-dots"></i> Tin nhắn
          <span *ngIf="totalUnreadMessages > 0" class="badge">{{ totalUnreadMessages }}</span>
        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [ngClass]="{'active': selectedComponent === 'trahangnsx'}" (click)="showComponent('trahangnsx')">
          <i class="bi bi-arrow-return-right"></i>Trả hàng hỏng về nơi nhập
        </a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" [ngClass]="{'active': selectedComponent === 'banner'}" (click)="showComponent('banner')">
          <i class="bi bi-card-image"></i>Quản lý banner
        </a>
      </li>
    </nav>
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <ng-container [ngSwitch]="selectedComponent">
      <app-banhangoffline [isComponentSwitched]="isComponentSwitched" *ngSwitchCase="'bho'"></app-banhangoffline>
      <app-statistics *ngSwitchCase="'dashboard'"></app-statistics>
      <app-vourcher *ngSwitchCase="'voucher'"></app-vourcher>
      <app-invoice *ngSwitchCase="'invoice'"></app-invoice>
      <app-product-admin *ngSwitchCase="'products'"></app-product-admin>
      <app-user-admin *ngSwitchCase="'staff'"></app-user-admin>
      <app-customer *ngSwitchCase="'customer'"></app-customer>
      <app-lichsuthaotac *ngSwitchCase="'ls'"></app-lichsuthaotac>
      <app-fragrance-list *ngSwitchCase="'fragranceGroup'"></app-fragrance-list>
      <app-brand *ngSwitchCase="'brand'"></app-brand>
      <app-phong-cach *ngSwitchCase="'style'"></app-phong-cach>
      <app-mui-huong *ngSwitchCase="'fragrance'"></app-mui-huong>
      <app-not-huong *ngSwitchCase="'note'"></app-not-huong>
      <app-admin-tra-hang *ngSwitchCase="'admintrahang'"></app-admin-tra-hang>
      <app-tra-hang-nha-san-xuat *ngSwitchCase="'trahangnsx'"></app-tra-hang-nha-san-xuat>
      <app-banner *ngSwitchCase="'banner'"></app-banner>
      <div *ngSwitchCase="'chat'" class="chat-container">
        
        <h2>Tin nhắn</h2>
        <div class="chat-content">
          <div class="chat-users">
            <h3>Danh sách khách hàng</h3>
            <ul>
              <li *ngFor="let user of chatUsers" (click)="selectChatUser(user.id)" [class.active]="selectedChatUserId === user.id">
                {{ user.hoTen || 'Khách ' + user.id }} (ID: {{ user.id }})
                <span *ngIf="newMessageCount.get(user.id) > 0" class="badge">{{ newMessageCount.get(user.id) }}</span>
              </li>
            </ul>
          </div>
          <div class="chat-box">
            <div *ngFor="let incoming of incomingMessages" class="incoming-message-notification">
              <span>Tin nhắn mới từ {{ incoming.hoTen }}: {{ incoming.content }}</span>
              <button (click)="selectChatUser(incoming.customerId)">Xem ngay</button>
            </div>
            <div class="chat-messages" *ngIf="selectedChatUserId; else noChatSelected" #chatMessages>
              <div *ngFor="let message of messages" [ngClass]="{'sent': message.sender.id === userID, 'received': message.sender.id !== userID}">
                <p class="message-content">{{ message.content }}</p>
                <p class="timestamp">{{ message.timestamp | date: 'short' }}</p>
              </div>
            </div>
            <ng-template #noChatSelected>
              <p>Vui lòng chọn một khách hàng để xem tin nhắn.</p>
            </ng-template>
            <div class="chat-input">
              <input type="text" [(ngModel)]="newMessage" placeholder="Nhập tin nhắn..." (keyup.enter)="sendMessage()" [disabled]="!selectedChatUserId">
              <button (click)="sendMessage()" [disabled]="!selectedChatUserId">Gửi</button>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
