<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="profile">
      <img src="logo.webp" alt="Profile Picture">
      <p>User Name</p>
    </div>
    <nav class="menu">
      <!-- Thống kê -->
      <li class="nav-item mb-3">
        <a
          class="nav-link"
          [ngClass]="{
            'active': selectedComponent === 'dashboard',
            'disabled-link': userRole === 'STAFF'
          }"
          (click)="showComponent('dashboard')"
          [ngClass]="{'disabled-link': userRole === 'STAFF'}">
          <i class="bi bi-house"></i> Thống kê
        </a>
      </li>

      <!-- Voucher -->
      <li class="nav-item mb-3">
        <a
          class="nav-link"
          [ngClass]="{
            'active': selectedComponent === 'voucher',
            'disabled-link': userRole === 'STAFF'
          }"
          (click)="showComponent('voucher')">
          <i class="bi bi-gift"></i> Voucher
        </a>
      </li>

      <!-- Hóa đơn -->
      <li class="nav-item mb-3">
        <a

          class="nav-link"
          [ngClass]="{'active': selectedComponent === 'invoice'}"
          (click)="showComponent('invoice')">
          <i class="bi bi-receipt"></i> Hóa đơn
        </a>
      </li>

      <!-- Sản phẩm -->
      <li class="nav-item mb-3">
        <a

          class="nav-link"
          [ngClass]="{'active': selectedComponent === 'products'}"
          (click)="showComponent('products')">
          <i class="bi bi-bag icon"></i> Sản phẩm
        </a>
      </li>

      <!-- Nhân viên -->
      <li class="nav-item mb-3">
        <a

          class="nav-link"
          [ngClass]="{'active': selectedComponent === 'staff'}"
          (click)="showComponent('staff')">
          <i class="bi bi-person"></i> Nhân viên
        </a>
      </li>

      <!-- Khách hàng -->
      <li class="nav-item mb-3">
        <a
          class="nav-link"
          [ngClass]="{
            'active': selectedComponent === 'customer',
            'disabled-link': userRole === 'STAFF'
          }"
          
          (click)="showComponent('customer')"
          >
          <i class="bi bi-people"></i> Khách hàng
        </a>
      </li>
      <li class="nav-item mb-3">
        <a
          class="nav-link"
          [ngClass]="{'active': selectedComponent === 'ls','disabled-link': userRole === 'STAFF'}"
          (click)="showComponent('ls')">
          <i class="bi bi-person"></i>Lịch Sử
        </a>
      </li>
      <!-- Đăng xuất -->
      <li class="nav-item mb-3">
        <a

          class="nav-link logout"
          (click)="logout()">
          <i class="bi bi-box-arrow-right"></i> Đăng xuất
        </a>
      </li>
    </nav>
  </div>

  <!-- Main Content -->
  <div class="col-md-10 col-lg-10 overflow-auto p-4">
    <ng-container [ngSwitch]="selectedComponent">
      <app-statistics *ngSwitchCase="'dashboard'"></app-statistics>
      <app-vourcher *ngSwitchCase="'voucher'"></app-vourcher>
      <app-invoice *ngSwitchCase="'invoice'"></app-invoice>
      <app-product-admin *ngSwitchCase="'products'"></app-product-admin>
      <app-user-admin *ngSwitchCase="'staff'"></app-user-admin>
      <app-customer *ngSwitchCase="'customer'"></app-customer>
<app-lichsuthaotac *ngSwitchCase="'ls'"></app-lichsuthaotac>
    </ng-container>
  </div>
</div>
