<div class="dashboard-container">
  <!-- Sidebar -->
  <div class="sidebar">
    <div class="profile" (mouseenter)="showDropdown()" (mouseleave)="hideDropdown()">
      <img src="logo.webp" alt="Profile Picture">
      <p>ID: {{userID}} || Tên: {{tenDangNhap?.sub}}</p>
      <!-- Dropdown -->
      <div class="dropdown" *ngIf="isDropdownVisible">
        <a class="dropdown-item" (click)="openChangePasswordModal()">Đổi mật khẩu</a>
        <a class="dropdown-item logout" (click)="logout()">Đăng xuất</a>
      </div>
    </div>
    <nav class="menu">
      <!-- Bán hàng tại quầy -->
      <li class="nav-item mb-3">
        <a
          class="nav-link"
          [ngClass]="{'active': selectedComponent === 'bho'}"
          (click)="showComponent('bho')">
          <i class="bi bi-house"></i> Bán hàng tại quầy
        </a>
      </li>

      <!-- Thống kê -->
      <li class="nav-item mb-3" *ngIf="userRole !== 'STAFF'">
        <a
          class="nav-link"
          [ngClass]="{'active': selectedComponent === 'dashboard'}"
          (click)="showComponent('dashboard')">
          <i class="bi bi-house"></i> Thống kê
        </a>
      </li>

      <!-- Voucher -->
      <li class="nav-item mb-3" *ngIf="userRole !== 'STAFF'">
        <a
          class="nav-link"
          [ngClass]="{'active': selectedComponent === 'voucher'}"
          (click)="showComponent('voucher')">
          <i class="bi bi-gift"></i> Voucher
        </a>
      </li>

      <!-- Hóa đơn -->
      <li class="nav-item mb-3">
        <a
          class="nav-link"
          [ngClass]="{'active': selectedComponent === 'invoice'}"
          (click)="showComponent('invoice')">
          <i class="bi bi-receipt"></i> Đơn hàng
        </a>
      </li>

<!-- Sản phẩm -->
<li class="nav-item mb-3">
  <a
    class="nav-link"
    [ngClass]="{'active': selectedComponent === 'products'}"
    (click)="toggleSubMenu('products')">
    <i class="bi bi-bag icon"></i> Sản phẩm
    <i class="bi bi-chevron-up ms-auto" *ngIf="isSubMenuOpen['products']"></i>
  </a>
  <!-- Danh sách mục con -->
  <ul class="sub-menu" *ngIf="isSubMenuOpen['products']">
    <li class="nav-item sub-item">
      <a
        class="nav-link"
        [ngClass]="{'active': selectedComponent === 'brand'}"
        (click)="showComponent('brand')">
        <i class="bi bi-building icon"></i> Quản lý thương hiệu
      </a>
    </li>
    <li class="nav-item sub-item">
      <a
        class="nav-link"
        [ngClass]="{'active': selectedComponent === 'fragranceGroup'}"
        (click)="showComponent('fragranceGroup')">
        <i class="bi bi-flower2 icon"></i> Quản lý nhóm hương
      </a>
    </li>
    <li class="nav-item sub-item">
      <a
        class="nav-link"
        [ngClass]="{'active': selectedComponent === 'style'}"
        (click)="showComponent('style')">
        <i class="bi bi-palette icon"></i> Quản lý phong cách
      </a>
    </li>
    <li class="nav-item sub-item">
      <a
        class="nav-link"
        [ngClass]="{'active': selectedComponent === 'fragrance'}"
        (click)="showComponent('fragrance')">
        <i class="bi bi-flower1 icon"></i> Quản lý mùi hương
      </a>
    </li>
    <li class="nav-item sub-item">
      <a
        class="nav-link"
        [ngClass]="{'active': selectedComponent === 'note'}"
        (click)="showComponent('note')">
        <i class="bi bi-music-note icon"></i> Quản lý nốt hương
      </a>
    </li>
  </ul>
</li>
      <!-- Nhân viên -->
      <li class="nav-item mb-3" *ngIf="userRole !== 'STAFF'">
        <a
          class="nav-link"
          [ngClass]="{'active': selectedComponent === 'staff'}"
          (click)="showComponent('staff')">
          <i class="bi bi-person"></i> Nhân viên
        </a>
      </li>

      <!-- Khách hàng -->
      <li class="nav-item mb-3" *ngIf="userRole !== 'STAFF'">
        <a
          class="nav-link"
          [ngClass]="{'active': selectedComponent === 'customer'}"
          (click)="showComponent('customer')">
          <i class="bi bi-people"></i> Khách hàng
        </a>
      </li>

      <!-- Lịch sử -->

    </nav>
  </div>

  <!-- Main Content -->
  <div class="col-md-10 col-lg-10 overflow-auto p-4">
    <ng-container [ngSwitch]="selectedComponent">
      <app-banhangoffline [isComponentSwitched]="isComponentSwitched" *ngSwitchCase="'bho'"></app-banhangoffline>
      <app-statistics *ngSwitchCase="'dashboard'"></app-statistics>
      <app-vourcher *ngSwitchCase="'voucher'"></app-vourcher>
      <app-invoice *ngSwitchCase="'invoice'"></app-invoice>
      <app-product-admin *ngSwitchCase="'products'"></app-product-admin>
      <app-user-admin *ngSwitchCase="'staff'"></app-user-admin>
      <app-customer *ngSwitchCase="'customer'"></app-customer>
      <app-lichsuthaotac *ngSwitchCase="'ls'"></app-lichsuthaotac>
      <app-fragrance-list *ngSwitchCase="'fragrance'"></app-fragrance-list>
    </ng-container>
  </div>
</div>
