
<body>
    <div class="container">
        <h1 class="heading">Tất cả sản phẩm</h1>
        <div class="filter-bar">
           
            <div class="filter-options">
                <span>Xếp theo:</span>
                <button class="filter-btn active">Hàng mới</button>
                <button class="filter-btn">Giá tăng dần</button>
                <button class="filter-btn">Giá giảm dần</button>
            </div>
        </div>
        <div class="product-list">
            <div class="product-card">
                <img src="perfume1.png" alt="Giorgio Armani">
                <h3>Giorgio Armani Emporio Armani Stronger With You Absolutely Parfum</h3>
                <p>0đ - 3.350.000đ</p>
            </div>

            <div class="product-card">
                <img src="perfume2.png" alt="Jean Paul Gaultier">
                <h3>Jean Paul Gaultier Le Male Le Parfum EDP</h3>
                <p>290.000đ - 4.150.000đ</p>
            </div>

            <div class="product-card">
                <img src="perfume3.png" alt="Dolce & Gabbana">
                <h3>Dolce & Gabbana The One For Men EDP</h3>
                <p>270.000đ - 4.025.000đ</p>
            </div>

            <div class="product-card">
                <img src="perfume4.png" alt="Lattafa Eternal Oud">
                <h3>Lattafa Eternal Oud EDP</h3>
                <p>220.000đ - 1.750.000đ</p>
            </div>
        </div>
       
    </div>
</body>

