<app-header></app-header>
<div class="banner">
  <img src="banner1.jpg" alt="Banner Sản Phẩm" class="banner-image" />
</div>
<div class="container">
  <!-- Banner -->
  

  <!-- Tiêu đề -->
  <h1 class="section-title">Danh sách sản phẩm</h1>

  <!-- Danh sách sản phẩm -->
  <div class="product-grid">
    <div 
      *ngFor="let product of sanPhams" 
      class="product-card" 
      (click)="viewProductDetail(product.productId)"
    >
      <div class="product-image-container">
        <img [src]="product.imageURL" alt="{{ product.tenSanPham }}" class="product-image" />
      </div>
      <div class="product-info">
        <h2 class="product-title">{{ product.productName }}</h2>
        <p class="product-price">Giá: {{ product.price | number }} VND</p>
      </div>
    </div>
  </div>

  <!-- Phân trang -->
  <nav class="pagination-container">
    <ul class="pagination">
      <li class="page-item" *ngIf="currentPage > 1">
        <button class="page-link" (click)="onPageChange(1)">First</button>
      </li>
      <li class="page-item" *ngIf="currentPage > 1">
        <button class="page-link" (click)="onPageChange(currentPage - 1)">Previous</button>
      </li>
      <ng-container *ngFor="let page of visiblePages || []">
        <li class="page-item" [ngClass]="{ active: page === currentPage }">
          <button class="page-link" (click)="onPageChange(page)">{{ page }}</button>
        </li>
      </ng-container>
      <li class="page-item" *ngIf="currentPage < totalPages">
        <button class="page-link" (click)="onPageChange(currentPage + 1)">Next</button>
      </li>
      <li class="page-item" *ngIf="currentPage < totalPages">
        <button class="page-link" (click)="onPageChange(totalPages)">Last</button>
      </li>
    </ul>
  </nav>
</div>
<app-footer></app-footer>
