.container {
  padding: 20px;
}

.banner {
  width: 100%;
  margin-bottom: 20px;
}

.banner-image {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}


.section-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Giới hạn luôn hiển thị 4 cột */
  gap: 20px;
  justify-items: center; /* Căn giữa các sản phẩm trong mỗi cột */
}



.product-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
  max-width: 250px; /* Giới hạn chiều rộng tối đa của thẻ sản phẩm */
  width: 100%; /* Đảm bảo rằng thẻ sản phẩm mở rộng để phù hợp với không gian cột */
  margin: 0 auto; /* Căn giữa thẻ trong không gian cột */
}


.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 18px;
  margin: 10px 0;
}

.product-price {
  font-size: 16px;
  color: #e63946;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #dbe4ed;
  cursor: pointer;
  text-decoration: none;
}

.page-item.active .page-link {
  background-color: #ebaae4;
  color: #fff;
  font-weight: bold;
}

.page-link:hover {
  background-color: #f39d9d;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  margin-right: 10px;
  width: 300px; /* Chiều rộng cố định cho input */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

