<!-- register.component.html -->
<div class="register-container">
  <div class="form-wrapper">
    <h2>Đăng Ký Tài Khoản</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm" novalidate>
      <div class="form-group">
        <label for="hoTen">Họ và tên</label>
        <input type="text" id="hoTen" placeholder="Nhập họ và tên" formControlName="hoTen" />
        <div *ngIf="registerForm.get('hoTen')?.touched && registerForm.get('hoTen')?.errors" class="error">
          Họ và tên phải có ít nhất 3 ký tự.
        </div>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" placeholder="Nhập email" formControlName="email" />
        <div *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors" class="error">
          Email không hợp lệ.
        </div>
      </div>

      <div class="form-group">
        <label for="sdt">Số điện thoại</label>
        <input type="text" id="sdt" placeholder="Nhập số điện thoại" formControlName="sdt" />
        <div *ngIf="registerForm.get('sdt')?.touched && registerForm.get('sdt')?.errors" class="error">
          Số điện thoại phải có 10 chữ số.
        </div>
      </div>
      <div class="form-group">
        <label for="tenDangNhap">Tên đăng nhập</label>
        <input type="text" id="tenDangNhap" placeholder="Nhập họ và tên" formControlName="tenDangNhap" />
        <div *ngIf="registerForm.get('tenDangNhap')?.touched && registerForm.get('tenDangNhap')?.errors" class="error">
          Họ và tên phải có ít nhất 3 ký tự.
        </div>
      </div>
      <div class="form-group">
        <label for="matKhau">Mật khẩu</label>
        <input type="password" id="matKhau" placeholder="Nhập mật khẩu" formControlName="matKhau" />
        <div *ngIf="registerForm.get('matKhau')?.touched && registerForm.get('matKhau')?.errors" class="error">
          Mật khẩu phải có ít nhất 6 ký tự.
        </div>
      </div>

      <div class="form-group">
        <label for="xacNhanMatKhau">Xác nhận mật khẩu</label>
        <input type="password" id="xacNhanMatKhau" placeholder="Nhập lại mật khẩu" formControlName="xacNhanMatKhau" />
        <div *ngIf="registerForm.get('xacNhanMatKhau')?.touched && registerForm.hasError('notSame')" class="error">
          Mật khẩu không khớp.
        </div>
      </div>

      <button type="submit" class="register-btn" [disabled]="registerForm.invalid">Đăng Ký</button>
    </form>

    <p class="redirect">Bạn đã có tài khoản? <a href="/login">Đăng nhập ngay</a></p>
  </div>
</div>
